* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: black; }

.hourglass {
  height: 50px;
  width: 25px;
  background-color: white;
  background-image: -webkit-linear-gradient(bottom, red, red);
  background-image: linear-gradient(to top, red, red);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -12.5px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  -webkit-animation: foo 10s linear infinite;
  animation: foo 10s linear infinite; }
  .hourglass:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 11.5px solid black; }
  .hourglass:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 11.5px solid black; }

@-webkit-keyframes foo {
  0% {
    background-position: 0 50px; }

  25% {
    background-position: 0 0;
    -webkit-transform: rotate(0); }

  50% {
    background-position: 0 0;
    -webkit-transform: rotate(180deg); }

  75% {
    background-position: 0 -50px;
    -webkit-transform: rotate(180deg); }

  100% {
    background-position: 0 -50px;
    -webkit-transform: rotate(0); } }

@keyframes foo {
  0% {
    background-position: 0 50px; }

  25% {
    background-position: 0 0;
    transform: rotate(0); }

  50% {
    background-position: 0 0;
    transform: rotate(180deg); }

  75% {
    background-position: 0 -50px;
    transform: rotate(180deg); }

  100% {
    background-position: 0 -50px;
    transform: rotate(0); } }

p {
  margin: 0;
  text-align: center;
  color: white;
  height: 20px;
  width: 120px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px); }
