@import "lib/imports";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
}

$h: 50px;
$w: 25px;

$color: red;

.hourglass {
  height: $h;
  width: $w;

  background-color: white;
  background-image: -webkit-linear-gradient(bottom, $color, $color);
  background-image: linear-gradient(to top, $color, $color);
  background-repeat: no-repeat;

  @include absolute_position_centering_h($w);
  @include absolute_position_centering_v($h);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    @include arrow($w/2 - 1px, $h, right, black);
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    @include arrow($w/2 - 1px, $h, left, black);
  }

  -webkit-animation: foo 10s linear infinite;
  animation: foo 10s linear infinite;
}

@-webkit-keyframes foo {
  0% {
    background-position: 0 $h;
  }
  25% {
    background-position: 0 0;
    -webkit-transform: rotate(0);
  }
  50% {
    background-position: 0 0;
    -webkit-transform: rotate(180deg);
  }
  75% {
    background-position: 0 (-$h);
    -webkit-transform: rotate(180deg);
  }
  100% {
    background-position: 0 (-$h);
    -webkit-transform: rotate(0);
  }
}
@keyframes foo {
  0% {
    background-position: 0 $h;
  }
  25% {
    background-position: 0 0;
    transform: rotate(0);
  }
  50% {
    background-position: 0 0;
    transform: rotate(180deg);
  }
  75% {
    background-position: 0 (-$h);
    transform: rotate(180deg);
  }
  100% {
    background-position: 0 (-$h);
    transform: rotate(0);
  }
}

p {
  margin: 0;
  text-align: center;
  color: white;
  $h: 20px;
  $w: 120px;
  height: $h;
  width: $w;
  line-height: $h;
  @include absolute_position_centering_v($h);
  @include absolute_position_centering_h($w);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

