* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  display: -webkit-flex;
  -webkit-align-items: stretch; }

h1 {
  zoom: 1;
  margin: 0;
  font-size: 3rem;
  width: 100%;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  position: relative; }
  h1:before, h1:after {
    content: "";
    display: table; }
  h1:after {
    clear: both; }
  h1 span {
    text-align: center;
    line-height: 100vh;
    -webkit-flex: 1;
    color: white;
    -webkit-transition: .2s; }
    h1 span:hover {
      -webkit-flex: 2; }
    h1 span:nth-child(odd) {
      background: #bfbfbf; }
    h1 span:nth-child(even) {
      background: #404040; }
